* {
    margin: 0;
}
h1 {
	text-transform: uppercase;
	font-family: Book Antiqua, Georgia, serif;
	letter-spacing: 0.05em;
	font-size: 2em;
}
nav {
	background-color: #F4FEFE;
	margin-right: -15px;
	margin-left: -15px;
}
li {
	color: #5472AE;
	text-transform: uppercase;
	font-family: Book Antiqua, Georgia, serif;
	font-weight: 600;
	font-size: 1.2em;
}
li:hover {
	color: #048B9A;
	text-decoration: none;
}
footer {
	background-color: #BBD2E1;
	color:#24445C;
	font-family: Book Antiqua, Georgia, serif;
	font-size: 1.2em;
	text-align: center;
	margin-right: -15px;
	margin-left: -15px;
}

// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
